<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/build.css">
    <link rel="stylesheet" type="text/css" href="/static/css/activity.css">
    <link href="/static/css/login.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/zzsc.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/dlzc.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery.detection.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/main.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/popwin.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/nanoscroller.css">

</head>
<body>
    <h2>用户登录</h2>
    <form action="" method="post">
        用户名:<input type="text" name="username">*必填
        <br>
        密码<input type="password" name="password">*必填
        <br>
        <input type="submit" value="登录">
    </form>
</body>
</html>